@model my_spotify_client.Models.WebClient.IndexModel

@{
    ViewBag.Title = "Index";
}

@section scripts
{
    <script type="text/javascript" src="~/Scripts/ServerSide/Index.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var settings = {
                urlRequestAuthorizationToSpotify: "@Url.Action("RequestAuthorizationToSpotify")"
            };
            loginModule.init(settings);
        });
    </script>
}

<div class="row">
    <div class="col-md-12">
        &nbsp;
    </div>
</div>
@if (string.IsNullOrWhiteSpace(Model.UserProfile.Id))
{
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Authorization Code Flow</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <button class="btn btn-primary btn-lg" type="submit" onclick="return loginModule.openSpotifyAuthorizationScreen();">
                <i class="fab fa-spotify fa-1x"></i> LogIn into Spotify
            </button>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-md-12 text-center">
            User Id : @Model.UserProfile.Id
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            User Name : @Model.UserProfile.Display_Name
        </div>
    </div>
    if (Model.UserProfile.Images.Count > 0)
    {
        <div class="row">
            <div class="col-md-12 text-center">
                <img src="@Model.UserProfile.Images[0].Url" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                &nbsp;
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">Playlists</div>
            <div class="panel-body">
                <ul class="list-group">
                    @foreach (var playlist in Model.Playlists.Items)
                    {
                        <li class="list-group-item"><img class="img-responsive" src="@playlist.Images[0].Url" style="width: 100px; height: 100px;" /> @playlist.Name</li>
                    }
                </ul>
            </div>
        </div>
    }
}


